// FIGMA LINK https://www.figma.com/file/0MnVT8fRG2VGiZoEB86o0V/Mintoak

// ==================== TAILWIND IMPORT ====================
@tailwind base;
@tailwind components;
@tailwind utilities;

// ==================== COMMON CLASSES START ====================

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.smooth {
  overflow: hidden;
  transition: all 0.3s ease;
}

.button {
  @apply flex items-center justify-center rounded-sm text-FFFFFF text-s22l26_4 cursor-pointer bg-button;
}

.mobile-button {
  @apply flex items-center justify-center rounded-sm text-FFFFFF text-s14l16_8 cursor-pointer bg-button;
}

.top-bg-container {
  span {
    @apply z-minus1;
  }
}
// ==================== COMMON CLASSES START ====================

// ==================== ANTD CUSTOMIZATION START ====================
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 2px solid #a4d77a !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 20px !important;
}

.ant-collapse-borderless {
  background: transparent !important;
}

.ant-collapse-item-active {
  background: #ffffff !important;
}
// ==================== ANTD CUSTOMIZATION END ====================

// Hover Carousel
.sliderItem {
  &:hover {
    background: #ffffff;
    transition: 0.7s;
    box-shadow: 0px 0px 12px rgba(37, 37, 37, 0.08);

    :first-child span {
      display: none !important;
    }
    .comunityContent {
      display: block !important;
      padding: 0 20px 20px 20px;
    }
    .colorImage {
      filter: none !important;
    }
    // .comunityColouredImage {
    //   display: block !important;
    // }
  }
  .comunityColouredImage {
    display: none !important;
  }
}

// merchant page
.merchant-liner-bg {
  background-image: linear-gradient(to top left, #19191a, #353537, #575757, #797979);
}

.merchant-bg {
  background-color: #f4fbf3;
}

// search input in career
.search-input {
  .ant-input-affix-wrapper {
    height: 60px;
    background-color: #dfefd4;
    border: 1px solid #8fc055;
  }
  .ant-input {
    background-color: #dfefd4;
    margin-left: 31px;
    &::placeholder {
      color: #525252;
    }
  }
  .ant-input-prefix > img {
    color: #252525;
    height: 26.21px;
    width: 26.21px;
  }
}

// filter inputs css of career job filtering
.filter-selection {
  .ant-select,
  .ant-select-selector {
    height: 60px !important;
    width: 100%;
  }
  .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
    color: #525252;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 60px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #dfefd4;
    border: 1px solid #8fc055;
  }
}

// Form of career detail page job application
.job-app-form {
  .ant-input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    &:focus {
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #c4c4c4;
    }
  }
  .ant-form-item-control-input-content {
    label {
      font-size: 20px;
    }
  }
  .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
  }
  .ant-input-group-addon {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    height: 20px;
    border-right: 1px solid #c4c4c4;
  }
  .ant-select-selector {
    color: #ffffff;
    font-size: 20px;
  }
  .ant-btn {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    height: 46px;
    text-align: left !important;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #c4c4c4;
      background: transparent;
      color: #ffffff;
    }
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    height: 46px;
    text-align: left !important;
    width: 100%;
  }
  .ant-select-arrow {
    color: #ffffff;
    top: 65%;
  }
  .ant-select-focused {
    border: none;
    box-shadow: none;
  }
  .ant-upload {
    width: 100%;
  }
}

// antd row and column
.custom-row {
  .ant-row {
    margin: 0 !important;
  }
  .ant-col {
    padding: 0 0 !important;
  }
}

// job list pagination in career page
.job-list-pagination {
  .ant-pagination-item-link,
  .ant-pagination-item {
    border-radius: 30px !important;
    border-color: unset;
    border-color: #525252;
    background-color: transparent !important;
    color: #252525;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    height: 63px !important;
    width: 63px !important;
    border-color: #525252;
    background-color: transparent;
    color: #252525 !important;
  }
  .ant-pagination-item:hover {
    border-color: #252525 !important;
    background-color: #dfefd4 !important;
  }
  .ant-pagination-item-link:hover {
    border-color: #252525;
    background-color: #dfefd4 !important;
  }
  .ant-pagination-item-active {
    background-color: #dfefd4 !important;
    color: #252525 !important;
  }
  .ant-pagination-item a {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252;
  }
  .ant-pagination-item a:hover {
    height: 63px;
    color: #252525;
  }
  @media screen and (max-width: 500px) {
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
      height: 40px !important;
      width: 40px !important;
    }
    .ant-pagination-item a {
      height: 40px;
    }
  }
}

//disable button
button:disabled,
button[disabled] {
  color: #666666;
}

// hover shadow
.hover-shaddow {
  &:hover {
    transition: 0.7s;
    box-shadow: 0px 1px 11.8511px 4px rgba(0, 0, 0, 0.2);

    .colorImage {
      filter: none !important;
    }
  }
}

//footer hover
.hover-border {
  &:hover {
    border-bottom: 1px solid #8cc63e;
  }
}

// time line
.mt-minus-22 {
  margin-top: -22px;
}
// ============== CONTACT-US INPUT CUSTOMIZATION START ==============

.global-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.global-input:focus {
  border-bottom: 2px solid #a4d77a;
}

.global-input-number::-webkit-outer-spin-button,
.global-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.global-input-number[type="number"] {
  -moz-appearance: textfield;
}
// ============== CONTACT-US INPUT CUSTOMIZATION END ==============

.removeScroll::-webkit-scrollbar {
  display: none;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding-right: 60px !important;
}


// search input in career
.search-input{
  .ant-input-affix-wrapper{
    height:60px;
    background-color: #DFEFD4;
    border:1px solid #8FC055;
  }
  .ant-input{
    background-color: #DFEFD4;
    margin-left:31px;
    &::placeholder {
      color: #525252;
    }
  }
  .ant-input-prefix>img{
    color:#252525;
    height:26.21px;
    width:26.21px;
  }
}


// filter inputs css of career job filtering
.filter-selection{
  .ant-select, .ant-select-selector{
    height:60px !important;
    width: 100%;
  }
  .ant-select-selection-placeholder{
    display: flex;
    align-items: center;
    color: #525252;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height:60px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #DFEFD4;
    border:1px solid #8FC055;
  }
}


// Form of career detail page job application
.job-app-form{
  .ant-input{
    background: transparent;
    border:none;
    border-bottom: 1.5px solid #C4C4C4;
    color:#ffffff;
    padding-left: 0;
    margin-top:16px;
    font-size: 20px;
    &:focus{
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #C4C4C4;
    }
  }
  .ant-form-item-control-input-content{
    label{
      font-size: 20px;
    }
  }
  .ant-select-selection-placeholder{
    display: flex;
    align-items: center;
  }
  .ant-input-group-addon{
    background-color: transparent;
    border:none;
    border-bottom: 1.5px solid #C4C4C4;
    height:20px;
    border-right: 1px solid #c4c4c4;
  }
  .ant-select-selector{
    color:#ffffff;
    font-size: 20px;
  }
  .ant-btn{
    background: transparent;
    border:none;
    border-bottom: 1.5px solid #C4C4C4;
    color:#ffffff;
    padding-left: 0;
    margin-top:16px;
    font-size: 20px;
    height: 46px;
    text-align: left !important;
    width: 100%;
    &:hover, &:focus, &:active{
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #C4C4C4;
      background:transparent;
      color: #FFFFFF;
    }
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: transparent;
    border:none;
    border-bottom: 1.5px solid #C4C4C4;
    color:#ffffff;
    padding-left: 0;
    margin-top:16px;
    font-size: 20px;
    height: 46px;
    text-align: left !important;
    width: 100%;
  }
  .ant-select-arrow{
    color: #ffffff;
    top:65%;
  }
  .ant-select-focused{
    border:none;
    box-shadow: none;
  }
  .ant-upload{
    width:100%;
  }
}


// antd row and column
.custom-row{
  .ant-row{
    margin: 0 !important;
  }
  .ant-col{
    padding: 0 0 !important;
  }
}

// job list pagination in career page
.job-list-pagination{
  .ant-pagination-item-link,.ant-pagination-item{
    border-radius: 30px !important;
    border-color: unset;
    border-color: #525252;
    background-color: transparent !important;
    color: #252525;
  }
  .ant-pagination-item,.ant-pagination-prev,.ant-pagination-next{
    height:63px !important;
    width:63px !important;
    border-color: #525252;
    background-color: transparent;
    color: #252525 !important;
  }
  .ant-pagination-item:hover{
    border-color: #252525 !important;
    background-color: #DFEFD4 !important;
  }
  .ant-pagination-item-link:hover{
    border-color: #252525;
    background-color: #DFEFD4 !important;
  }
  .ant-pagination-item-active{
    background-color: #DFEFD4 !important;
    color: #252525 !important;
  }
  .ant-pagination-item a{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252;
  }
  .ant-pagination-item a:hover{
    height: 63px;
    color: #252525;
  }
  @media screen and (max-width:500px){
    .ant-pagination-item,.ant-pagination-prev,.ant-pagination-next{
      height:40px !important;
      width:40px !important;
    }
    .ant-pagination-item a{
      height: 40px;
    }
  }
}


//disable button
button:disabled,
button[disabled] {
  color: #666666;
}

// hover shadow
.hover-shaddow {
  &:hover {
    transition: 0.7s;
    box-shadow: 0px 0px 12px rgba(37, 37, 37, 0.08);

    .colorImage {
      filter: none !important;
    }
  }
}

//footer hover
.hover-border {
  &:hover {
    border-bottom: 1px solid #8cc63e;
  }
}

// time line
.mt-minus-22 {
  margin-top: -22px;
}
// ============== CONTACT-US INPUT CUSTOMIZATION START ==============

.global-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.global-input:focus {
  border-bottom: 2px solid #a4d77a;
}

.global-input-number::-webkit-outer-spin-button,
.global-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.global-input-number[type="number"] {
  -moz-appearance: textfield;
}
// ============== CONTACT-US INPUT CUSTOMIZATION END ==============

.removeScroll::-webkit-scrollbar {
  display: none;
}

// resorce page placeholder

::placeholder {
  font-size: 20px;
  line-height: 24px;
  padding-left: 50px;
  padding-top: 22px;
  padding-bottom: 27px;
}

// border-radius

.border-radius {
  border-radius: 15px;
}

.relative-text {
    position: relative;
    top: 214px;
    left: 85px;
}

.custom-pagination .ant-pagination-item {
  border-radius: 30px;
  height: 63px;
  width: 63px;
  align-items: center;
  font-size: 24px;
  line-height: 36px;
}

.custom-pagination .ant-pagination-item a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-pagination .ant-pagination-prev .ant-pagination-item-link{
  border-radius: 30px;
  height: 63px;
  width: 63px;
  font-size: 24px;
  line-height: 36px;
}

.custom-pagination .ant-pagination-next .ant-pagination-item-link{
  border-radius: 30px;
  height: 63px;
  width: 63px;
  font-size: 24px;
  line-height: 36px;
} 

.custom-pagination .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
  height: auto !important; 
}

.bank-btn {
  background-image: linear-gradient(#88CD37, #8FC055);
}

// letter spacing
.ls--3 {
  letter-spacing: -3%;
}

.ls--1_5 {
  letter-spacing: -1.5%;
}

.ls-0_2 {
  letter-spacing: 0.2px;
}

.ls-2 {
  letter-spacing: 2%;
}

// home page Mintoak Advantages

@media screen and (max-width: 1618px) {
  .responsive-title-text{
    font-size: 22px;
  }
  .responsive-desc-text {
    font-size: 15px;
  }
}