// FIGMA LINK https://www.figma.com/file/0MnVT8fRG2VGiZoEB86o0V/Mintoak

// ==================== TAILWIND IMPORT ====================
@tailwind base;
@tailwind components;
@tailwind utilities;

// ==================== COMMON CLASSES START ====================

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.smooth {
  overflow: hidden;
  transition: all 0.3s ease;
}

.button {
  @apply flex items-center justify-center rounded-sm text-FFFFFF text-s22l26_4 cursor-pointer bg-button;
}

.mobile-button {
  @apply flex items-center justify-center rounded-sm text-FFFFFF text-s14l16_8 cursor-pointer bg-button;
}

// ==================== COMMON CLASSES START ====================

// ==================== ANTD CUSTOMIZATION START ====================
.global-collapse {
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 2px solid #a4d77a !important;
  }
  .ant-collapse-borderless > .ant-collapse-item-active {
    border-bottom: none !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    font-size: 20px !important;
  }

  .ant-collapse-borderless {
    background: transparent !important;
  }

  .ant-collapse-item-active {
    background: #ffffff !important;
    box-shadow: 0px 2px 11.85px rgba(0, 0, 0, 0.1);
  }
}
.global-collapse-p {
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 1px solid #a4d77a !important;
  }
  .ant-collapse-borderless > .ant-collapse-item-active {
    border-bottom: none !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    font-size: 20px !important;
  }

  .ant-collapse-borderless {
    background: transparent !important;
  }

  .ant-collapse-item-active {
    background: #ffffff !important;
  }
}
// ==================== ANTD CUSTOMIZATION END ====================

// Hover Carousel
.sliderItem {
  &:hover {
    background: #ffffff;
    transition: 0.7s;
    box-shadow: 0px 0px 12px rgba(37, 37, 37, 0.08);

    :first-child span {
      display: none !important;
    }
    .comunityContent {
      display: block !important;
      padding: 0 20px 20px 20px;
    }
    .colorImage {
      filter: none !important;
    }
    // .comunityColouredImage {
    //   display: block !important;
    // }
  }
  .comunityColouredImage {
    display: none !important;
  }
}

// merchant page
.merchant-liner-bg {
  background-image: linear-gradient(to top left, #19191a, #353537, #575757, #797979);
}
.merchant-bg {
  background-color: #f4fbf3;
}

// search input in career
// .search-input {
//   .ant-input-affix-wrapper {
//     height: 60px;
//     background-color: #dfefd4;
//     border: 1px solid #8fc055;
//   }
//   .ant-input {
//     background-color: #dfefd4;

//     &::placeholder {
//       color: #525252;
//     }
//   }
//   .ant-input-prefix > img {
//     color: #252525;
//     height: 26.21px;
//     width: 26.21px;
//   }
// }

// filter inputs css of career job filtering
// .filter-selection {
//   .ant-select,
//   .ant-select-selector {
//     height: 60px !important;
//     width: 100%;
//   }
//   .ant-select-selection-placeholder {
//     display: flex;
//     align-items: center;
//     color: #525252;
//   }
//   .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
//     height: 60px;
//   }
//   .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//     background-color: #dfefd4;
//     border: 1px solid #8fc055;
//   }
// }

// antd row and column
.custom-row {
  .ant-row {
    margin: 0 !important;
  }
  .ant-col {
    padding: 0 0 !important;
  }
}

// job list pagination in career page
.job-list-pagination {
  .ant-pagination-item-link,
  .ant-pagination-item {
    border-radius: 30px !important;
    border-color: unset;
    border: 1px solid red;
    background-color: transparent !important;
    color: #252525;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    height: 63px !important;
    width: 63px !important;
    border-color: #525252;
    background-color: transparent;
    color: #252525 !important;
  }
  .ant-pagination-item:hover {
    border-color: #252525 !important;
    background-color: #dfefd4 !important;
  }
  .ant-pagination-item-link:hover {
    border-color: #252525;
    background-color: #dfefd4 !important;
  }
  .ant-pagination-item-active {
    background-color: #dfefd4 !important;
    color: #252525 !important;
  }
  .ant-pagination-item a {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525252;
  }
  .ant-pagination-item a:hover {
    height: 63px;
    color: #252525;
  }
  @media screen and (max-width: 500px) {
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
      height: 40px !important;
      width: 40px !important;
    }
    .ant-pagination-item a {
      height: 40px;
    }
  }
}

//disable button
button:disabled,
button[disabled] {
  color: rgba(0, 0, 0, 0.25);
}

// hover shadow
.custom-shaddow {
  box-shadow: 0px 0px 11.8511px rgba(0, 0, 0, 0.1);
}
.custom-shaddow:hover {
  transition: 0.7s;
  box-shadow: 0px 1px 11.8511px 4px rgba(0, 0, 0, 0.2);
  .colorImage {
    filter: none !important;
  }
}
//footer hover
.carousel-shadow:hover {
  box-shadow: 0px 0px 11.8511px rgba(0, 0, 0, 0.1);
}
// time line
.mt-minus-107 {
  margin-top: -107px;
}
.mt-minus-4 {
  margin-top: -4px;
}
// ============== CONTACT-US INPUT CUSTOMIZATION START ==============

.global-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.global-input:focus {
  border-bottom: 2px solid #a4d77a;
}

.global-input-number::-webkit-outer-spin-button,
.global-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.global-input-number[type="number"] {
  -moz-appearance: textfield;
}
// ============== CONTACT-US INPUT CUSTOMIZATION END ==============

.removeScroll::-webkit-scrollbar {
  display: none;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding-right: 60px !important;
}

// search input in career
.search-input {
  .ant-input-affix-wrapper {
    height: 60px;
    background-color: #dfefd4;
    border: 1px solid #8fc055;
  }
  .ant-input {
    background-color: #dfefd4;
    font-size: 20px;
    line-height: 24px;

    &::placeholder {
      color: #525252;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .ant-input-prefix > img {
    color: #252525;
    height: 26.21px;
    width: 26.21px;
  }
  .ant-input-prefix {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// filter inputs css of career job filtering
.filter-selection {
  .ant-select,
  .ant-select-selector {
    height: 60px !important;
    width: 100%;
  }
  .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
    color: #525252;
    font-size: 20px;
    line-height: 24px;
    padding-left: 25px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 60px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #dfefd4;
    border: 1px solid #8fc055;
  }
  .ant-select-arrow {
    color: black;
    font-size: 16px;
    padding-right: 14px;
  }
}

// Form of career detail page job application
.job-app-form {
  .ant-input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    &:hover,
    &:focus {
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #a4d77a;
    }
  }
  .ant-form-item-control-input-content {
    label {
      font-size: 20px;
    }
  }

  .ant-input-group-addon {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    height: 20px;
    border-right: 1px solid #c4c4c4;
  }
  .ant-select-selector {
    color: #ffffff;
    font-size: 20px;
  }
  .ant-btn {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    height: 46px;
    text-align: left !important;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
      border: none;
      box-shadow: unset;
      border-bottom: 1.5px solid #c4c4c4;
      background: transparent;
      color: #ffffff;
    }
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
    color: #ffffff;
    padding-left: 0;
    margin-top: 16px;
    font-size: 20px;
    height: 40px;
    text-align: left !important;
    width: 100%;
  }
  .ant-select-arrow {
    color: #ffffff;
    top: 65%;
  }
  .ant-select-focused {
    border: none;
    box-shadow: none;
  }
  .ant-upload {
    width: 100%;
  }
}

// antd row and column
.custom-row {
  .ant-row {
    margin: 0 !important;
  }
  .ant-col {
    padding: 0 0 !important;
  }
}

//disable button
button:disabled,
button[disabled] {
  color: rgba(0, 0, 0, 0.25);
}

// hover shadow
.hover-shaddow {
  &:hover {
    transition: 0.7s;
    box-shadow: 0px 0px 12px rgba(37, 37, 37, 0.08);

    .colorImage {
      filter: none !important;
    }
  }
}

//footer hover
.hover-border {
  &:hover {
    color: #8cc63e;
  }
}

// time line
.mt-minus-22 {
  margin-top: -22px;
}
// ============== CONTACT-US INPUT CUSTOMIZATION START ==============

.global-input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}

.global-input:focus {
  border-bottom: 2px solid #a4d77a;
}

.global-input-number::-webkit-outer-spin-button,
.global-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.global-input-number[type="number"] {
  -moz-appearance: textfield;
}
// ============== CONTACT-US INPUT CUSTOMIZATION END ==============

.removeScroll::-webkit-scrollbar {
  display: none;
}

// resorce page placeholder

// border-radius

.border-radius {
  border-radius: 15px;
}

.relative-text {
  position: relative;
  top: 214px;
  left: 85px;
}

.bank-btn {
  background-image: linear-gradient(#88cd37, #8fc055);
}

// letter spacing
.ls--3 {
  letter-spacing: -3%;
}

.ls--1_5 {
  letter-spacing: -1.5%;
}

.ls-0_2 {
  letter-spacing: 0.2px;
}

.ls-2 {
  letter-spacing: 0.02em;
}

// home page Mintoak Advantages

@media screen and (max-width: 1618px) {
  .responsive-title-text {
    font-size: 22px;
  }
  .responsive-desc-text {
    font-size: 15px;
  }
}
// ================== FAQ POPUP CONTENT START ================

.popup-content {
  display: none;
}

.popup:hover {
  .popup-content {
    display: contents;
    padding-top: 5px;
  }
}
.popup {
  border: 1px solid #8fc055;
  box-sizing: border-box;
}
.close-btn {
  .ant-modal-close-x {
    color: #252525;
    font-size: 21px;
    margin: -3px;
    font-weight: bold;
  }
}
// ================== FAQ POPUP CONTENT END ================

// ================== CUSTOM PAGINATION START ================

.custom-pagination .ant-pagination {
  display: flex;
}
.custom-pagination .ant-pagination-item {
  border-radius: 50%;
  height: 53px;
  width: 53px;
  padding: 8px;
  font-size: 20px;
  line-height: 36px;
  background-color: transparent;
  border-color: #525252;
}

.custom-pagination .ant-pagination-item-active {
  border-color: #525252;
  color: #525252;
  background-color: #dfefd4;
}
.custom-pagination .ant-pagination-item-active:hover a {
  color: #252525;
}
.custom-pagination .ant-pagination-item:hover {
  border-radius: 50%;
  height: 53px;
  width: 53px;
  padding: 8px;
  font-size: 20px;
  line-height: 36px;
  border-color: #525252;
}
.custom-pagination .ant-pagination-item a {
  color: #252525;
}
.custom-pagination .ant-pagination-item:hover a {
  color: #525252;
}
.custom-pagination .ant-pagination-item-active a {
  color: #525252;
}
.custom-pagination .ant-pagination-prev .ant-pagination-item-link {
  border-radius: 50%;
  height: 53px;
  width: 53px;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
  border-color: #525252;
  justify-content: center;
  background-color: transparent;
}
.custom-pagination .ant-pagination-next .ant-pagination-item-link {
  border-radius: 30px;
  height: 53px;
  width: 53px;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
  border-color: #525252;
  justify-content: center;
  background-color: transparent;
  
}
.custom-pagination .ant-pagination-next {
  border-color: #525252;
  color: #525252;

  &:hover .ant-pagination-item-link {
    border-color: #525252;
    color: #525252;
  }
}
.custom-pagination .ant-pagination-prev {
  border-color: #525252;
  color: #525252;

  &:hover .ant-pagination-item-link {
    border-color: #525252;
    color: #525252;
  }
}

.custom-pagination .ant-pagination-prev.ant-pagination-disabled {
  .ant-pagination-item-link {
    color: #c4c4c4;
    border-color: #c4c4c4 !important;
    cursor: not-allowed;
  }
}
.custom-pagination .ant-pagination-next.ant-pagination-disabled {
  .ant-pagination-item-link {
    color: #c4c4c4;
    border-color: #c4c4c4 !important;
    cursor: not-allowed;
  }
}

.custom-pagination .ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  height: auto !important;
  
}
// ================== FAQ CUSTOM PAGINATION START ================

// ================== FAQ CUSTOM TEXTARIA START ================

.custom-textaria {
  .ant-input {
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .ant-input::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
  }
  .ant-input:hover {
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
  }
  .ant-input:focus {
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
    border-radius: 0px;
  }
  .textarea.ant-input:focus {
    border: 1px solid #525252;
  }
}
.custom-textaria-m {
  .ant-input {
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
  }
  .ant-input:hover {
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
  }
  .ant-input:focus {
    line-height: 24px;
    color: #252525;
    outline: none;
    border: 1px solid #525252;
    border-radius: 0px;
  }
  .textarea.ant-input:focus {
    border: 1px solid #525252;
  }
}
// ================== FAQ CUSTOM TEXTARIA END ================

// ================== FAQ POPUP CHECKBOX START ================

.custom-checkbox .ant-checkbox-inner {
  width: 34px;
  height: 70px;
  border: none;
  background-color: #e9f5dc;
}
.custom-checkbox {
  margin-left: 15px;
  display: flex;
}
.custom-checkbox .ant-checkbox-inner::after {
  width: 10px;
  height: 20px;
  border: 1px solid #46ac34;
}
.custom-checkbox .ant-checkbox-checked::after {
  border: none;
}

.custom-checkbox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #46ac34;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #c5e39d;
  border-color: none;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border: 2px solid #46ac34;
  border-top: 0;
  border-left: 0;
}
.custom-checkbox .ant-checkbox-wrapper {
  line-height: 0;
}
.custom-checkbox .ant-checkbox {
  top: 0;
  border-left: 1px solid #46ac34;
}

// ================== FAQ POPUP CHECKBOX END ================

.overf {
  overflow-x: scroll;
}
.overf::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 5px;
}

.overf::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(104, 104, 104, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
// ==============SOCIAL MEDIA HOVER==================
.global-border {
  margin-top: -5px;
}

.bg-active {
  background-color: #c4c4c4 !important;
}
.rec .rec-pagination {
  padding-top: 60px;
  margin-top: 0px;
}
.cust-pagination .lcUbOd {
  box-shadow: none;
  background-color: #525252;
  border: none;
  outline: none;
}
.cust-pagination .eaptOe {
  background-color: #c4c4c4;
  box-shadow: none;
}

.cust-pagination .lcUbOd:hover,
.lcUbOd:focus {
  box-shadow: none;
}
.rec .rec-dot:hover {
  outline: none;
}
.cust-pagination .eaptOe:hover {
  box-shadow: none;
}
// ===========GLOBAL-OPTIONS==========

.global-option {
  background-color: #dfefd4;
  color: #828282;
  border: 1px solid #8fc055;
}

.global-career {
  .career-label {
    font-size: 20px;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: linear-gradient(126.9deg, #3f3f3f -3.96%, #000000 136.6%) !important;
    border: 1px solid #9f9fa0;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .ant-select-arrow {
    top: 65%;
    color: white;
    font-size: 15px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #c4c4c4;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: none;
    box-shadow: none;
    border-bottom: 1.5px solid #a4d77a;
    color: #f1f1f1;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0;
    padding-left: 5px;
    color: #f1f1f1;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0;
    padding-left: 5px;
    color: #f1f1f1;
    margin-top: 25px;
    font-size: 130%;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: none;
    border-bottom: 1.5px solid #a4d77a;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    color: #f1f1f1;
  }
  .ant-select-selection-placeholder {
    color: #8b8b8b;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow {
    color: #f1f1f1;
    padding-bottom: 5px;
  }
}
.global-demo {
  .career-label {
    font-size: 130%;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: linear-gradient(126.9deg, #3f3f3f -3.96%, #000000 136.6%) !important;
    border: 1px solid #9f9fa0;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .ant-select-arrow {
    top: 65%;
    color: black;
    font-size: 15px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c4c4c4;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: none;
    box-shadow: none;
    border-bottom: 1px solid #a4d77a;
    color: #f1f1f1;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0;
    padding-left: 5px;
    color: #f1f1f1;
    font-size: 120%;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0;
    padding-left: 5px;
    color: #f1f1f1;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: none;
    border-bottom: 1px solid #a4d77a;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    color: #f1f1f1;
  }
  .ant-select-selection-placeholder {
    color: #8b8b8b;
    font-size: 20px;
    line-height: 24px;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow {
    color: #252525;
    font-weight: 500;
  }
}
.global-partner {


  .career-label {
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: linear-gradient(126.9deg, #3f3f3f -3.96%, #000000 136.6%) !important;
    border: 2px solid #9f9fa0;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .ant-select-arrow {
    top: 65%;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    width: 100%;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: none;
    box-shadow: none;
    border-bottom: 2px solid #a4d77a;
    color: #f1f1f1;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0;
    padding-left: 5px;
    color: #f1f1f1;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0;
  padding-left: 5px;
    color: #f1f1f1;
    font-size: 120%;
  }

  @media only screen and (min-width: 1366px) {
    .ant-select-selection-item{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 400px) {
   
    .ant-select-selection-item{
      font-size: 14px;
    }
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border: none;
    border-bottom: 2px solid #a4d77a;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    color: #f1f1f1;
  }
  .ant-select-selection-placeholder {
    color: #8b8b8b;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow {
    color: #f1f1f1;
    padding-bottom: 5px;
  }
}
// =========== FAQ BUTTON SHADDOW ============
.shadow-md-faq {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.carrer-detail-card {
  border: 1px solid #8fc055;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}

.provacy_policy_bullets {
  list-style: disc;
  margin-left: 26px;
}
.global-img {
  opacity: 0.5;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}
.bg-button_bg {
  background: linear-gradient(180deg, #88cd37 -48.55%, rgba(143, 192, 85, 0) 244.44%);
  border: 1px solid #87bd25;
  box-sizing: border-box;
  border-radius: 8px;
}

.custom-align .rec-carousel-item-2,
.rec-carousel-item-0 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-8fc0554d {
  background-color: #8fc0554d;
}
.global-option-career {
  .ant-select-item-option-content {
    color: #c4c4c4;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 4%;
  }
  .ant-select-item-option-content:hover {
    color: #46ac34;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 4%;
  }
}
.global-option-demo {
  .ant-select-item-option-content {
    color: #828282;
    font-weight: 400;
    letter-spacing: 4%;
  }
  .ant-select-item-option-content:hover {
    color: #46ac34;
    font-weight: 500;
    letter-spacing: 4%;
  }
}
.global-option-demo .rc-virtual-list-scrollbar-show, .rc-virtual-list-scrollbar-thumb{
  background-color: #C5E39D !important;
  border-radius: none !important;
}
.global-option-demo .rc-virtual-list-scrollbar, .rc-virtual-list-scrollbar-show{
width: 15.25px !important;
border: 1px solid #8FC055;
height: 100% !important;
}
.career-selector {
  .ant-select-arrow .anticon {
    color: #252525 !important;
    font-size: 15px;
  }
  .ant-select-item-option-content {
    display: flex;
    justify-content: space-between;
  }
  .ant-select-item-option-active {
    background: #c5e39d !important;
    border: 1px solid #46ac34 !important;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .ant-select-item-option-state,
  .anticon .anticon-check {
    color: #46ac34 !important;
  }
  .ant-select-item-option-state,
  .anticon .anticon-check {
    background: #c5e39d !important;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dammi-space {
    background: transparent;
    border: 1px solid #46ac34 !important;
    box-sizing: border-box;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .anticon .anticon-check {
    background: #c5e39d !important;
    border: 1px solid #46ac34 !important;
    box-sizing: border-box;
    border-radius: 2px;
  }
  .ant-select-item-option-content {
    color: #828282 !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 4%;
  }
  .ant-select-item-option-content:hover {
    color: #46ac34 !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 4%;
  }
}
.mySwiper::-webkit-scrollbar {
  display: none;
}
.border-rounded {
  border-radius: 50%;
}
.shadoff {
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.swiper-slide.swiper-slide-active {
  height: 850px !important;
}
.progress-bar .ant-progress-circle {
  background: linear-gradient(163.57deg, #a7cd7e 11.39%, rgba(123, 205, 37, 0) 95.33%);
  border-radius: 50%;
}
.founder-shadow {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}
.pageindex {
  margin-top: 20px;
}
.custom-scale {
  height: 220px;
  position: absolute;
  top: 12px;
}



.faq-submit-bg {
  .ant-modal-mask {
    background: #555555 !important;
    opacity: 0.7 !important;
  }
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 35.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fPDpuU {
  margin: 0 0px !important;
}
.anime {
  transition: all 0.5s;
}
textarea {
  resize: none;
  white-space: nowrap;
  overflow-x: scroll; /* or hidden */
}
.jytZFe {
  width: 1510px;
}

.board-shadow{
  box-shadow: 0px 0px 11.8511px rgb(0, 0, 0, 0.1);
}

.card-shadow-career:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}
.circle-check{
  background: linear-gradient(187.63deg, #A7CD7E 35.24%, rgba(123, 205, 37, 0) 165.22%);
}
.Product{
  box-shadow: 0px 1px 11.8511px rgba(0, 0, 0, 0.2);
}
.clear-all-btn {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #95C11F,#77B82A,#46AC34,#3EAB35,#3AAA35) 1;
}

.global-option-demo .ant-select-dropdown, .ant-select-dropdown-placement-topLeft{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.global-option-demo .ant-select-dropdown, .ant-select-dropdown-placement-bottomLeft{
padding-top: 0px !important;
padding-bottom: 0px !important;
}
